<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	{{#sessionData}}
		{{sessionData}}님 반갑습니다.<br>
		<a href="/dropSession">dropSession</a>
	{{/sessionData}}
	
	{{^sessionData}}
		sessionData 값이 없습니다.<br>
		<a href="/newSession">newSession</a>
	{{/sessionData}}
</body>
</html>